body {

    font-family: sans-serif;
    margin: 0;
}

html {
    background-color: #0A181B;
    /*background: url(images/main-content.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

header {
    padding: 0.5em 1em;
    display: flex;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    outline: none;
    color:inherit;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
}
li {
    display: flex;
    margin: 0.2em;
}
.hidden {
    display: none;
}

.row {
    font-family: 'Crimson Text', serif;
    font-size: 50px;
}

.section-heading {
    font-family: 'Crimson Text', serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

.section-heading-wrap {
    width: 400px;
    align-items: center;
    display: flex;
}

.summary-two {
    margin-left: 150px;
    font-style: italic;
    font-size: 54px;
}

.summary-three {
    margin-left: 387px;
    font-size: 100px;
}

.section-row {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.buffer {
    width: 400px;
}

.section-row-text {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    width: 400px;
    background-color: #fff;
    text-align: center;
}

.circle-wrap {
    border-radius: 50%;
    width: 540px;
    height: 540px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Crimson Text', serif;
    font-size: 3em;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    margin-bottom: 0.3em;
}

.summary-container {
    margin-top: 180px;
    margin-left: 123px;
}

.menu-items {
    display: flex;
    flex-direction: row;
}

.circle {
    border-radius: 50%;
}

.menu-item {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    flex-grow: 1;
    border-left: 1px;
    border-left-style: solid;
    padding-right: 10px;
    padding-left: 20px;
}

#home {
    background-image: url("images/main-content.jpg");
}

#story {
    background-image: url("images/kitchen.jpg");
}

.dark {
    color: #000;
    border-color: #000;
}

.light {
    color: #fff;
    border-color: #fff;
}

.across-bg {
    background-position: 50% 0%;
    width: 100%;
    min-height: 1024px;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #ffffff;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
