body {
    font-family: sans-serif;
    margin: 0;
}

html {
    background-color: #0A181B;
}

header {
    padding: 0.5em 1em;
    display: flex;
    background-color:#1D242A;
    border-bottom: solid 1px #8A8A8A;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    outline: none;
    color:inherit;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
}
li {
    display: flex;
    margin: 0.2em;
}
.hidden {
    display: none;
}

.row {
    font-family: 'Crimson Text', serif;
    font-size: 50px;
}

.section-heading {
    font-family: 'Crimson Text', serif;
    font-size: 3em;
    font-weight: 400;
    text-align: center;
}

.section-heading-wrap {
    width: 400px;
    align-items: center;
    display: flex;
}

.summary-two {
    margin-left: 150px;
    font-style: italic;
    font-size: 54px;
}

.summary-three {
    margin-left: 387px;
    font-size: 100px;
}

.section-row {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buffer {
    width: 400px;
}

.section-row-text {
    font-family: 'Crimson Text', serif;
    font-size: 2em;
    width: 400px;
    background-color: #fff;
    text-align: center;
}

.circle-wrap {
    border-radius: 50%;
    width: 540px;
    height: 540px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-name {
    font-family: 'Crimson Text', serif;
    font-size: 3em;
    display: flex;
    align-items: center;
}

.summary-container {
    margin-top: 180px;
    margin-left: 123px;
}

.menu-items {
    display: flex;
    flex-direction: row;
}

.circle {
    border-radius: 50%;
}

.menu-item {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    flex-grow: 1;
    border-left: 1px;
    border-left-style: solid;
    padding-right: 10px;
    padding-left: 20px;
}

#home {
    background-image: url("images/main-content.jpg");
    height:800px;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container-item {
    font-family: 'Crimson Text', serif;
    font-size: 15em;
}

#story {
    background-image: url("images/kitchen.jpg");
    height:800px;
}

#contact {
    background-image: url("images/contact.jpg");
    height:800px;
}

#buddha {
    background-color: #fff;
    height: 800px;
}

#dandy {
    background-color: #fff;
    height: 800px;
}

#hackney {
    background-color: #fff;
    height: 800px;
}

.title-contact-us {
    font-family: 'Crimson Text', serif;
    font-size: 60px;
}

.contact-items {
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.contact-item {
    width: 33%;
}

.contact-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-phone>p {
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
    padding-right: 60px;
}

.contact-email {
    padding-left: 123px;
    font-size: 40px
}

.contact-address {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-address>p {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    font-size: 20px;
}

.center-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.dark {
    color: #1D242A;
}

.light {
    color: #ECE7E4;
}

.across-bg {
    width: 100%;
    display: block;
    max-width: 100%;
    border: 0;
    margin: 0;
    zoom: 1;
    background-size: 100%;
}

.tea-name {
    font-size: 4em;
    margin-top: 20px;
    border-bottom: solid 2px #B3094B;
}

.tea-type {
    font-size: 2em;
    margin-top: 20px;
}

.tea-tag {
    font-size: 1.5em;
    margin-top: 20px;
}

.tea-desc {
    font-size: 1.5em;
    margin-top: 20px;
}

.tea-container {
    display:flex;
}

.tea-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tea-image {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 50%;
}

.tea-image>img {
    height: 100%;
    margin-top: 30%;
    border: solid 10px #1D242A;
}

.tea-product-image {
    height: 0px;
    display: flex;
    justify-content: center;
}

.tea-product-image>img {
    height: 600px;
}

.tea-section {
    height: 100%;
}
