body {

    font-family: sans-serif;
    margin: 0;
}

html {
    background-color: #0A181B;
    background: url(images/main-content.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255, 255, 255, 1);
}

header {
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
}
.item-label {
    border: none;
    background-color: #18416B;
    color: #fff;
    padding: 0.2em;
}
.item-label.item-complete {
    background-color: #000000;
}
li {
    display: flex;
    margin: 0.2em;
}
.hidden {
    display: none;
}

.row {
    font-family: 'Crimson Text', serif;
    font-size: 50px;
}

.summary-two {
    margin-left: 150px;
    font-style: italic;
    font-size: 54px;
}

.summary-three {
    margin-left: 400px;
    font-size: 80px;
}

.title {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 100px;
    border: 0px;
    border-bottom: 1px;
    border-color: rgb(255, 255, 255);
    display: inline-block;
    border-style: solid;
    padding-right: 20px;
    padding-left: 20px;
}

.summary-container {
    margin-top: 342px;
    margin-left: 123px;
}
